@charset "utf-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

img {
    max-width: 100%;
    vertical-align: top;
}

body {
    color: #333;
    background-color: #fff;
}


.wrap {
    width: 100%;
    position: relative;
    min-width: 900px;
}

.top {
    width: 100%;
    display: flex;
}

header {
    width: 200px;
}

header>a {
    margin: 30px 0;
    padding: 0 10px;
}

nav {
    width: 200px;
    text-align: center;
}

nav>ul {}

nav>ul>li {
    width: 100%;
    border-bottom: 1px solid #fff;
}

nav>ul>li>a {
    height: 50px;
    background-color: #0e3c70;
    align-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

nav>ul>li>a.on,
nav>ul>li:hover>a {
    background-color: #dadada;
    color: #0e3c70;
}


.sub {
    display: none;
}

.sub>li {
    width: 100%;
}

.sub>li>a {
    height: 50px;
    background-color: #c1deff;
    align-content: center;
    color: #0e3c70;
}

.sub>li>a.on,
.sub>li:hover>a {
    background-color: #fff;
}

.spot {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.spot>a {
    display: inline-block;
    padding: 0 16px;
}

.spot>a:first-of-type {
    border-right: 1px solid #333;
}

.spot>a:hover {
    color: #0e3c70;
}


main {
    width: calc(100% - 200px);
    height: 850px;
    position: relative;
}

.slide {
    width: 100%;
    height: 400px;
    background-color: aqua;
    position: relative;
    overflow: hidden;

}

.slide>ul {
    width: 100%;
    height: 1200px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.slide>ul>li {
    width: 100%;
    height: 400px;
}

.slide>ul>li>a {
    width: 100%;
    height: 100%;
    align-content: end;
}

.slide .s_text {
    color: #fff;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 30px 50px;
}

.slide .s_text>h2 {
    font-size: 26px;
}

.slide .s_text>p {
    margin-top: 5px;
}

.slide .s1 {
    background: url(/images/slide1.jpg)no-repeat center/cover;
}

.slide .s2 {
    background: url(/images/slide2.jpg)no-repeat center/cover;

}

.slide .s3 {
    background: url(/images/slide3.jpg)no-repeat center/cover;

}

.dirct {
    width: 100px;
    background-color: #0e3c70;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9;
    border-radius: 10px;
}

.dirct>ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 0;
    color: #fff;
}

.dirct>ul>li {}

.dirct>ul>li>a {}

.dirct>ul>li>a>p {
    margin-top: 5px;
}



.banner {
    width: 100%;
    height: 200px;
}

.banner>a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    align-content: center;
    gap: 30px;
}

.banner>a>img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;

}

.banner .b_text {}

.banner .b_text>h2 {}

.banner .b_text>p {
    margin-top: 5px;
}


.con {
    width: 100%;
    height: 250px;
    position: relative;
}

.con>ul {
    display: flex;
}

.con>ul>li {}

.con>ul>li>a {
    width: 130px;
    height: 40px;
    align-content: center;
    background-color: #c1deff;
    text-align: center;
    color: #fff;
}

.con>ul>li.on>a {
    background-color: #0e3c70;
}

.con>ul>li>a>h3 {}


.notice {
    width: 100%;
    padding: 30px 20px 0;
}

.notice>li {
    margin: 5px 0;
    padding: 5px 0;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.notice>li:hover {
    color: #c1deff;
    border-bottom: 1px solid #c1deff;
}

.notice>li>a {
    display: flex;
    justify-content: space-between;
}

.gall {
    display: none;
}

.gall>ul {
    display: flex;
    gap: 10px;
    padding: 30px 20px 0;
}

.gall>ul>li {}

.tab {
    width: 100%;
    height: 210px;
    background-color: #0e3c70;
    position: absolute;
    left: 0;
    top: 40px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #dadada;
    display: flex;
}

footer>a {
    width: 200px;
    height: 100%;
    align-content: center;
    padding: 0 10px;
}

footer .f_inner {
    width: calc(100% - 200px);
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 0 20px;
}

footer .f_inner .copy {}

footer .f_inner .sns {}

footer .f_inner .sns>ul {
    display: flex;
    gap: 5px;
}

footer .f_inner .sns>ul>li {}


.pop {
    width: 500px;
    height: 450px;
    background-color: #fff;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    border: 1px solid #0e3c70;
    display: none;
}

.pop>h2 {}

.pop>p {
    margin-top: 20px;
    line-height: 25px;
}

.pop .pop_off {
    cursor: pointer;
    position: absolute;
    right: 30px;
    bottom: 30px;
}


.pop .pop_off:hover {
    color: #c1deff;
}